<%
@page_title_icon = 'home'
@page_title_text = "トップ"

@breadcrumbs = []
%>

<div class="row">
  <div class="col-md-12">
    <h3 style="color: #fff;">Planetsへようこそ</h3>
    <%= render "images" %>
    <%= render "schedule" %>
    <%= render "news" %>
    <%= render "game" %>
    <%= render "links" %>
  </div>
</div>