<% if @pitchers.present? && @pitchers.count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading">投手成績</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <tr class="statsTable01">
            <th>選手</th>
            <th>投球回</th>
            <th>被安打</th>
            <th>失点</th>
            <th>自責点</th>
            <th>三振</th>
            <th>勝</th>
            <th>負</th>
            <th>ホールド</th>
            <th>セーブ</th>
          </tr>
          <% @pitchers.each do |p| %>
            <% next if p.user.blank? %>
            <tr>
              <td><%= link_to p.user.try(:display_name), [ :edit, @game, p ] %></td>
              <td><%= p.pitching_number %></td>
              <td><%= p.hit %></td>
              <td><%= p.run %></td>
              <td><%= p.remorse_point %></td>
              <td><%= p.strikeouts %></td>
              <td><%= p.winning %></td>
              <td><%= p.defeat %></td>
              <td><%= p.hold_number %></td>
              <td><%= p.save_number %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>