<%
  form_options = {
    method: :post,
    html: { class: "form-horizontal", role: 'form' }
  }
  num = Array(0..99)
  names = User.all
  keys = [:user_id, :pitching_number, :hit, :run, :remorse_point,
      :strikeouts, :winning, :defeat, :hold_number, :save_number ]
  labels = ["選手", "投球回", "被安打", "失点", "自責点", "三振", "勝", "負", "ホールド", "セーブ"  ]
%>

<!-- 試合結果 -->
<%= render "games/game" %>
<!-- 投手結果 -->
<%= render "pitchers/pitchers" %>

<div class="result-form-js"></div>
<div class="panel panel-default">
  <div class="panel-heading">投手成績入力</div>
  <div class="panel-body">
    <%= form_for [ @game, @pitcher ], form_options do |f| %>
      <%= markup do |m|
        p = HorizontalFormPresenter.new(f, self)
        p.with_options(required: true) do |q|
          m << q.table_form_block(keys, labels, num, names, columns: 12)
        end
        m << p.submit_button(columns: 12)
      end %>
    <% end %>
  </div>
</div>

<!-- 野手結果 -->
<%= render "results/results" %>