<%
  @javascript = 'PitcherBatterHelper'
  @page_title_icon = 'pencil'
  @page_title_text = "投手の成績編集"
  @breadcrumbs = [
    [ 'home', 'トップ', :root ],
    [ 'line-chart', '成績表', :results ],
    [ 'line-chart', "#{@game.name}の詳細", @game ]]
%>

<%= render "pitchers/header" %>

<!-- 試合結果 -->
<%= render "games/game" %>
<!-- 投手結果 -->
<%= render "pitchers/pitchers" %>

<div class="panel panel-default">
  <div class="panel-heading">投手成績入力</div>
  <div class="panel-body">
    <%= form_for [ @game, @new_pitcher ], @new_p_form_options do |f| %>
      <%= render "pitchers/form", f: f, pitcher: @new_pitcher %>
    <% end %>
  </div>
</div>

<!-- 野手結果 -->
<%= render "results/results" %>

<div class="panel panel-default">
  <div class="panel-heading">野手成績</div>
  <div class="panel-body">
    <%= form_for [ @game, @new_result ], @new_b_form_options do |f| %>
      <%= render "results/form", f: f, result: @new_result %>
    <% end %>
  </div>
</div>