<div class="panel panel-default">
  <div class="panel-heading">コメントを書く</div>
  <div class="panel-body">
    <%= form_for @comment_form, new_form_options do |f| %>

      <%= f.fields_for :image, f.object.comment.image do |fff| %>
        <%= markup do |m|
          p = HorizontalFormPresenter.new(fff, self)
          p.with_options(required: false) do |q|
            m << q.file_block(:uploaded_image, "画像", "", "", columns: 10, style: "margin-bottom: 10px;")
          end
        end %>
      <% end %>

      <%= f.fields_for :comment, f.object.comment do |ff| %>
        <%= markup do |m|
          p = HorizontalFormPresenter.new(ff, self)
          p.with_options(required: true) do |q|
            m << q.text_area_block(:comment, "コメント", columns: 10)
          end
          m << p.submit_button
        end %>
      <% end %>

    <% end %>
  </div>
</div>