<%
  new_form_options = {
    url: [ @post, :comments ],
    html: { class: "form-horizontal", role: 'form' },
    method: :post
  }
%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @post.title %>
      </div>
      <div class="panel-body">

        <div>
          <% if @post.user.present? %>
            <% if @post.user.image && @post.user.image.thumbnail.present? %>
              <%= image_tag thumbnail_user_path(@post.user, format: @post.user.image.extension), size: "40x40" %>
            <% else %>
              <%= image_tag "user.png", alt: "logo", size: "40x40" %>
            <% end %>
          <% else %>
            <%= image_tag "user.png", alt: "logo", size: "40x40" %>
          <% end %>
          <b style="margin-left: 10px;"><%= @post.user.present? ? @post.user.display_name : "名無しさん" %></b>
          <hr>
        </div>

        <%= @post.description %>
      </div>
    </div>

    <% @comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <% if comment.user.present? %>
              <% if comment.user.image && comment.user.image.thumbnail.present? %>
                <%= image_tag thumbnail_user_path(comment.user, format: comment.user.image.extension), size: "40x40" %>
              <% else %>
                <%= image_tag "user.png", alt: "logo", size: "40x40" %>
              <% end %>
            <% else %>
              <%= image_tag "user.png", alt: "logo", size: "40x40" %>
            <% end %>
            <b style="margin-left: 10px;"><%= comment.user.present? ? comment.user.display_name : "名無しさん" %></b>
            <hr>
          </div>
          <%= image_tag comment_image_path(comment.image, format: comment.image.extension),
            style: "max-width: 100%;" if comment.image.present? && comment.image.data.present? %>
          <%= simple_format(comment.comment) %>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">コメントを書く</div>
      <div class="panel-body">
        <%= form_for @comment_form, new_form_options do |f| %>

          <%= f.fields_for :image, f.object.comment.image do |fff| %>
            <%= markup do |m|
              p = HorizontalFormPresenter.new(fff, self)
              p.with_options(required: false) do |q|
                m << q.file_block(:uploaded_image, "画像", "", "", columns: 10, style: "margin-bottom: 10px;")
              end
            end %>
          <% end %>

          <%= f.fields_for :comment, f.object.comment do |ff| %>
            <%= markup do |m|
              p = HorizontalFormPresenter.new(ff, self)
              p.with_options(required: true) do |q|
                m << q.text_area_block(:comment, "コメント", columns: 10)
              end
              m << p.submit_button
            end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>