<%
@page_title_icon = 'book'
@page_title_text = "#{@post.title}"
@javascript = 'CommentAction'

@breadcrumbs = [
  [ 'home', 'トップ', :root ],
  [ 'list', '掲示板一覧', :posts ]]

new_form_options = {
  url: [ @post, :comments ],
  html: { class: "form-horizontal", role: 'form' },
  method: :post }
%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "header" %>

    <div class="paginate"><%= paginate @comments %></div>
    <% @comments.each do |comment| %>
      <%= render 'body', comment: comment %>
    <% end %>
    <div class="paginate"><%= paginate @comments %></div>

    <%= render 'form', new_form_options: new_form_options %>
  </div>
</div>