<div class="col-md-12">
  <div class="col-md-4">
    <span class="jquery-title">ポジション</span>
  </div>
  <div class="col-md-8 check_or_radio">
    <%= check_box_tag :one, true, false, checked: @user.one, class: "jquery_radio_box" %>
    <%= label_tag :one, "投" %>
    <%= check_box_tag :two, true, false, checked: @user.two, class: "jquery_radio_box" %>
    <%= label_tag :two, "捕" %>
    <%= check_box_tag :three, true, false, checked: @user.three, class: "jquery_radio_box" %>
    <%= label_tag :three, "一" %>
    <%= check_box_tag :four, true, false, checked: @user.four, class: "jquery_radio_box" %>
    <%= label_tag :four, "二" %>
    <%= check_box_tag :five, true, false, checked: @user.five, class: "jquery_radio_box" %>
    <%= label_tag :five, "三" %>
    <%= check_box_tag :six, true, false, checked: @user.six, class: "jquery_radio_box" %>
    <%= label_tag :six, "遊" %>
    <%= check_box_tag :seven, true, false, checked: @user.seven, class: "jquery_radio_box" %>
    <%= label_tag :seven, "外" %>
  </div>
</div>