<%
  already = current_user.breaking_balls.map{|b| [b.name, b.id]}
  balls = @breaking_balls.map{|a| [ a.name, a.id ]}
  balls = balls - already
  balls = balls << [ "新規作成", 0 ]
  levels = (0..10)
%>

<% @user.breaking_ball_user_links.each_with_index do |ball, i| %>
  <div class="col-md-12">
    <div class="col-md-4">
      <span class="jquery-title">球種<%= i + 1 %></span>
    </div>
    <div class="col-md-8">
      <%= select_tag :breaking_ball,
        options_for_select(already, ball.breaking_ball_id), class: "form-control breaking-ball-#{ball.id} breaking-select", disabled: true %>
      <%= select_tag :breaking_ball_level,
        options_for_select(levels, ball.level), class: "form-control breaking-level-#{ball.id} breaking-select" %>
      <button type="button" class="btn btn-default navbar-btn add-breaking-button" data-int="<%= ball.id %>">更新</button>
      <button type="button" class="btn btn-danger navbar-btn delete-breaking-button" data-int="<%= ball.id %>">削除</button>
    </div>
  </div>
<% end %>

<div class="col-md-12">
  <div class="col-md-4">
    <span class="jquery-title">新球種</span>
  </div>
  <div class="col-md-8">
    <%= select_tag :breaking_ball,
      options_for_select(balls, ""), class: "form-control breaking-ball-0 breaking-select" %>
    <%= select_tag :breaking_ball_level,
      options_for_select(levels, ""), class: "form-control breaking-level-0 breaking-select" %>
    <button type="button" class="btn btn-default navbar-btn add-breaking-button" data-int="0">追加</button>
    <br/>
    <span class="error-message-new-breaking-ball error-message-span"></span>
    <%= text_field_tag :new_breaking_ball, "", placeholder: "新球種",
      class: "form-control new-breaking-ball-form" %>
  </div>
</div>