<%
  @page_title_icon = 'list-alt'
  @page_title_text = "#{@plan.starts_on.strftime('%Y年%m月%d日')}のスケジュール"

  @breadcrumbs = [
    [ 'home', 'トップ', :root ],
    [ 'table', 'スケジュール', :schedules]]
%>

<%= render 'calendar' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @plan.starts_on.strftime("%Y年%m月%d日") %>のスケジュール
  </div>
  <div class="panel-body">
    <% if @plan.plan_details.size > 0 %>
      <div class="list-group">
        <% @plan.plan_details.each_with_index do |p, i| %>
          <%= link_to schedule_plan_detail_path(schedule_id: @plan.starts_on, id: p ),
            class: i.odd? ? "list-group-item" : "list-group-item list-group-item-warning" do %>
            <%= p.starts_on.strftime("%H:%M") %>〜
            <%= p.ends_on.strftime("%H:%M") %>
            <%= content_tag :span, p.name, title: p.description %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>予定がありません。</p>
    <% end %>

    <%= link_to "新規作成", new_schedule_plan_detail_path(schedule_id: @plan.starts_on), class: "btn btn-success", type: "button" if current_user %>
  </div>
</div>