<% if @results.present? && @results.count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading">野手成績</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <tr class="statsTable01">
            <th>選手</th>
            <th>打席</th>
            <th>打数</th>
            <th>単打</th>
            <th>二塁打</th>
            <th>三塁打</th>
            <th>本塁打</th>
            <th>四球</th>
            <th>死球</th>
            <th>犠打</th>
            <th>犠飛</th>
            <th>失策出塁</th>
            <th>内ゴロ</th>
            <th>外ゴロ</th>
            <th>内飛</th>
            <th>外飛</th>
            <th>内直</th>
            <th>外直</th>
            <th>三振</th>
            <th>打点</th>
            <th>得点</th>
            <th>盗塁</th>
          </tr>
          <% @results.each_with_index do |result, idx| %>
          <% next if result.user.blank? %>
            <tr>
              <td><%= link_to result.user.display_name, [ :edit, @game, result ] %></td>
              <td><%= result.plate_appearances %></td>
              <td><%= result.at_bats %></td>
              <td><%= result.single_hits %></td>
              <td><%= result.double_hits %></td>
              <td><%= result.triple_hits %></td>
              <td><%= result.home_run %></td>
              <td><%= result.base_on_balls %></td>
              <td><%= result.hit_by_pitches %></td>
              <td><%= result.sacrifice_bunts %></td>
              <td><%= result.sacrifice_flies %></td>
              <td><%= result.gaffe %></td>
              <td><%= result.infield_grounder %></td>
              <td><%= result.outfield_grounder %></td>
              <td><%= result.infield_fly %></td>
              <td><%= result.outfield_fly %></td>
              <td><%= result.infield_linera %></td>
              <td><%= result.out_linera %></td>
              <td><%= result.strikeouts %></td>
              <td><%= result.runs_batted_in %></td>
              <td><%= result.runs_scored %></td>
              <td><%= result.stolen_bases %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <% if params[:action] == "edit" && params[:controller] == "results" %>
        <%= form_for [ @game, @result ], @edit_b_form_options do |f| %>
          <%= render "results/form", f: f, result: @result %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>