<div class="panel panel-custom full">
  <div class="panel-heading">
    <p>試合結果</p>
  </div>
  <div class="panel-body">
    <table class="result" border="1">
      <tr>
        <th>試合日</th>
        <th>試合名</th>
        <th>勝敗</th>
        <th>結果</th>
        <th>コメント</th>
      </tr>
        <tr>
          <td style="white-space: nowrap;"><%= @game.played_at.strftime("%Y/%m/%d") %></td>
          <td style="white-space: nowrap;">
            <%= link_to @game.name, [ :edit, @game ] %>
          </td>
          <td style="white-space: nowrap;"><%= @game.display_winning %></td>
          <td style="white-space: nowrap;"><%= @game.total_result %></td>
          <td><%= @game.description %></td>
        </tr>
    </table>
  </div>
</div>