<%= render "games/header" %>
<%
  edit_form_options = {
    html: { class: "form-horizontal", role: 'form' }
  }
%>

<div class="panel panel-default">
  <div class="panel-heading">試合結果入力</div>
  <div class="panel-body">
    <%= form_for @game, edit_form_options do |f| %>
      <%= render "games/form", f: f, game: @game %>
    <% end %>
  </div>
</div>

<!-- 投手結果 -->
<%= render "pitchers/pitchers" %>

<!-- 野手結果 -->
<%= render "results/results" %>