<div class="panel panel-default">
  <div class="panel-heading">試合結果</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <tr class="statsTable01">
          <th>試合日</th>
          <th>試合名</th>
          <th>勝敗</th>
          <th>結果</th>
          <th>コメント</th>
        </tr>
        <% @season.games.order("played_at DESC").each_with_index do |result, idx| %>
          <tr>
            <td class="game"><%= result.played_at.strftime("%Y/%m/%d") %></td>
            <td class="game">
              <%= link_to result.name, result %>
            </td>
            <td class="game"><%= result.display_winning %></td>
            <td class="game"><%= result.total_result %></td>
            <td><%= result.description %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>