<div class="panel-body">
  <div class="row">
    <div id="planDetailUserLinkId" data-int="<%= @plan_detail.id %>" data-schedule-int="<%= @plan.id %>"></div>
    <div class="col-sm-3">
      <%= select_tag :user_detail_link,
        options_for_select(select_array, ""), class: "form-control selecting-condition", size: "6" %>
    </div>
    <div class="col-sm-3">
      <% if current_user %>
        <button type="button" class="btn btn-primary selected_user_link select-button" data-int="1">参加</button>
        <button type="button" class="btn btn-danger delete_user_link select-button" data-int="1">削除</button>
      <% end %>
      <%= select_tag :user_detail_link_selected,
        options_for_select(a_array, ""), class: "form-control selecting-condition", size: "6" %>
    </div>
    <div class="col-sm-3">
      <% if current_user %>
        <button type="button" class="btn btn-primary selected_user_link select-button" data-int="2" >欠席</button>
        <button type="button" class="btn btn-danger delete_user_link select-button" data-int="2">削除</button>
      <% end %>
      <%= select_tag :user_detail_link_absence,
        options_for_select(b_array, ""), class: "form-control selecting-condition", size: "6" %>
    </div>
    <div class="col-sm-3">
      <% if current_user %>
        <button type="button" class="btn btn-primary selected_user_link select-button" data-int="3">保留</button>
        <button type="button" class="btn btn-danger delete_user_link select-button" data-int="3">削除</button>
      <% end %>
      <%= select_tag :user_detail_link_hold,
        options_for_select(c_array, ""), class: "form-control selecting-condition", size: "6" %>
    </div>
  </div>
</div>