<%
  select_array = User.all.map{|u| [ u.display_name, u.id ]}
  selected_array = @plan_detail.user_plan_detail_links.map{|u| [ u.user.display_name, u.user.id ]}
  select_array = select_array - selected_array
  a_array = @plan_detail.user_plan_detail_links.where(status: 1).map{|u| [ u.user.display_name, u.user.id ]}
  b_array = @plan_detail.user_plan_detail_links.where(status: 2).map{|u| [ u.user.display_name, u.user.id ]}
  c_array = @plan_detail.user_plan_detail_links.where(status: 3).map{|u| [ u.user.display_name, u.user.id ]}

  @javascript = 'AttendanceChange'
  @page_title_icon = 'send'
  @page_title_text = "予定詳細"
  @breadcrumbs = [
      [ 'home', 'トップ', :root ],
      [ 'table', 'スケジュール', schedule_path(id: params[:schedule_id])],
      [ 'send', "#{@plan.starts_on.strftime('%Y年%m月%d日')}のスケジュール", schedule_path(@plan.starts_on.strftime('%Y-%m-%d'))]]
%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @plan.starts_on.strftime("%Y年%m月%d日") %>のスケジュール
  </div>
  <div class="panel-body">
    <b>タイトル</b><br/>
    <div class="left-margin">
      <%= @plan_detail.name %><br/>
    </div>
    <b>説明</b><br/>
    <div class="left-margin">
      <%= simple_format(@plan_detail.description) %><br/>
    </div>
    <b>時間</b><br/>
    <div class="left-margin">
      <%= @plan_detail.starts_on.try(:strftime, "%H:%M") %> 〜
      <%= @plan_detail.ends_on.try(:strftime, "%H:%M") %><br/>
    </div>
    <br/>
    <%= link_to "編集", edit_schedule_plan_detail_path(id: @plan_detail.id, schedule_id: @plan.id), class: "btn btn-primary", type: "buttom" if current_user %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    メンバー
  </div>
  <%= render 'member',
    a_array: a_array, b_array: b_array, c_array: c_array, select_array: select_array %>
</div>