<%
  select_array = User.all.map{|u| [ u.display_name, u.id ]}
  selected_array = @plan_detail.user_plan_detail_links.map{|u| [ u.user.display_name, u.user.id ]}
  select_array = select_array - selected_array
  a_array = @plan_detail.user_plan_detail_links.where(status: 1).map{|u| [ u.user.display_name, u.user.id ]}
  b_array = @plan_detail.user_plan_detail_links.where(status: 2).map{|u| [ u.user.display_name, u.user.id ]}
  c_array = @plan_detail.user_plan_detail_links.where(status: 3).map{|u| [ u.user.display_name, u.user.id ]}
  
  @javascript = 'AttendanceChange'
  @page_title_icon = 'send'
  @page_title_text = "出席表"
  @breadcrumbs = [
      [ 'home', 'トップ', :root ],
      [ 'table', 'スケジュール', schedule_path(id: params[:schedule_id])]]
%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @plan.starts_on.strftime("%Y年%m月%d日") %>のスケジュール
  </div>
  <div class="panel-body">
    <b>タイトル</b><br/>
    <div style="margin-left: 10px;">
      <%= @plan_detail.name %><br/>
    </div>
    <b>説明</b><br/>
    <div style="margin-left: 10px;">
      <%= simple_format(@plan_detail.description) %><br/>
    </div>
    <b>時間</b><br/>
    <div style="margin-left: 10px;">
      <%= @plan_detail.starts_on.try(:strftime, "%H:%M") %> 〜
      <%= @plan_detail.ends_on.try(:strftime, "%H:%M") %><br/>
    </div>
    <br/>
    <%= link_to "編集", edit_schedule_plan_detail_path(id: @plan_detail.id, schedule_id: @plan.id), class: "btn btn-primary", type: "buttom" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    メンバー
  </div>
  <div class="panel-body">
    <div class="row">
      <div id="planDetailUserLinkId" data-int="<%= @plan_detail.id %>" data-schedule-int="<%= @plan.id %>"></div>
      <div class="col-sm-3">
        <%= select_tag :user_detail_link,
          options_for_select(select_array, ""), class: "form-control selecting-condition", size: "6" %>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary selected_user_link" data-int="1" style="margin: 10px 0;">参加</button>
        <button type="button" class="btn btn-danger delete_user_link" data-int="1" style="margin: 10px 0;">削除</button>
        <%= select_tag :user_detail_link_selected,
          options_for_select(a_array, ""), class: "form-control selecting-condition", size: "6" %>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary selected_user_link" data-int="2"  style="margin: 10px 0;">欠席</button>
        <button type="button" class="btn btn-danger delete_user_link" data-int="2" style="margin: 10px 0;">削除</button>
        <%= select_tag :user_detail_link_absence,
          options_for_select(b_array, ""), class: "form-control selecting-condition", size: "6" %>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary selected_user_link" data-int="3" style="margin: 10px 0;">保留</button>
        <button type="button" class="btn btn-danger delete_user_link" data-int="3" style="margin: 10px 0;">削除</button>
        <%= select_tag :user_detail_link_hold,
          options_for_select(c_array, ""), class: "form-control selecting-condition", size: "6" %>
      </div>
    </div>
  </div>
</div>