<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/sapphire.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/planets.ico" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <%= content_tag :body,
    style: params[:controller] == "users" && params[:action] == "show" ? "background: none;" : "" do %>
    <%= NavbarPresenter.new(self).render %>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <%= SidebarPresenter.new(self).render %>
      </div>
      <%= content_tag :div, id: "page-content-wrapper",
            data: (@javascript.present? ? { javascript: @javascript } : nil) do %>
        <% if @exception.blank? %>
          <%= PageHeaderPresenter.new(self).render %>
        <% end %>
        <div class="row">
          <div class="col-lg-12">
            <%= flash_messages %>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</html>