<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= stylesheet_link_tag    'session_form', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/analytics" if Rails.env.production? %>
    <link rel="shortcut icon" href="/planets.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/planets.ico" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="Planets" />
    <meta name="Keywords" content="草野球,大宮,赤坂,野球,プラネッツ,planets" />
    <meta name="Description" content="Planets【大宮・青山で活動する草野球チームのWebSiteです】" />
  </head>
  <body>
    <%= NavbarPresenter.new(self).render %>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <%= SidebarPresenter.new(self).render %>
      </div>
      <%= content_tag :div, id: "page-content-wrapper",
            data: (@javascript.present? ? { javascript: @javascript } : nil) do %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= flash_messages %>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>